.dashboard-main-container {
  width: 100vw;
  height: 100vh;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container-wrapper {
  background: #ebf8fe;
  width: 100%;
  height: 100%;
}

.dashboard-nav {
  background: #389ee6;
  height: 60px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  z-index: 3333333;
  overflow: hidden;
  width: 100%;
  color: white;
}

.dashboard-data {
  background: #ffffff;
  margin: auto;
  max-height: calc(100%);
  padding: 65px;
  overflow: scroll;
}

.dashboard-margin {
  margin-bottom: 60px;
}

.student-card {
  margin: auto;
  width: 200px;
  height: 215px;
  background: #f8f9fa;
  padding: 12px;
  box-shadow: #c2c2c2 0px 3px 6px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 18px;
  background-image: url("../../Images/bg_badge.png");
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: top right;
}

.student-card:hover {
  box-shadow: #c2c2c2 0px 20px 6px;
  cursor: pointer;
}

.noData {
  height: 548px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-direction: column;
  background: white;
  padding: 45px;
}

.dashboard-nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-search {
  width: 100%;
  border-radius: 4px;
  padding: 4px;
  border: none;
  outline: none;
}

.btn-sortByMarks {
  margin-left: 12px;
}
